{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 7 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": "current" }
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
