.DS_Store
dist/
build/
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
.idea/
!.gitkeep

octave-workspace
static/mmci-cli/MODELS/policy_param.mat
static/mmci-cli/**/Modelbase*
static/mmci-cli/**/*.log
