name: Create Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (e.g. 1.2.3 or 4.3.2), without any prefix'
        required: true
        type: string

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Configure Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Update version
        run: npm version ${{ github.event.inputs.version }}

      - name: Push changes
        run: git push --follow-tags
